@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #ff4549;
  --bg-box-color: #f4f4f4;
  --font: 'Montserrat', sans-serif;
}

#root {
  font-family: var(--font);
  max-width: 1680px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}